  * {
    margin: 0;
  }
  
  .about-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
  }
  
  .about-subtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
  }
  
  .about-section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
  }

  .contact-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  
  .contact-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }  

  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  .hero {
    display: flex;
    gap: 140px;
    align-items: center;
  }

  .hero-text {
    width: 855px;
    height: 347px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .header-subtext {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .who-we-are {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    p {
        margin: 0;
    }

    h2 {
        margin: 0;
    }
  }

  .contact-container {
    display: flex;
    justify-content: center;
    gap: 200px;
  }

  .member-card {
    width: 300px;
    height: 395.43px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
        display: block;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .hero {
      flex-direction: column;
      gap: 60px;
    }
  
    .hero-text {
      width: 100%;
    }
  
    .contact-container {
      flex-direction: column;
      gap: 80px;
      align-items: center;
    }
  }
  

  @media (max-width: 728px) {
    .hero {
      flex-direction: column;
      gap: 60px;
      align-items: flex-start;
      Image {
        width: 100px;
      }
    }
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .landscape-container {
    position: relative;
    width: 100%;
    max-width: 605px;
    aspect-ratio: 605 / 346.13;
  }
  
  .landscape-image {
    object-fit: cover;
    border-radius: 12px;
  }
  
  @media (max-width: 768px) {
    .landscape-container {
      max-width: 400px;
    }
  }
  